*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /*border:solid 2px green;*/
}

body{
    background: #a96100;
    font-family:'Poppins',sans-serif;
}

ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

#content{
    margin:auto;
    width:70%;
    height:100vh;
    background: #f9f2e5;
    display: grid;
    grid-template-rows: 5% 1fr 6fr 5%;
}

nav{
    width:100%;
    background:#a96000;
}

.tabs{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
}

.tab{
    width:33%;
    text-align: center;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    background: #ffae20;
    color: #493b25;
    font-weight: 600;
}

.selected-tab{
    background:#f9f2e5;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    display:block;
    border-top: 5px solid #a96100;
    border-bottom: 5px solid #a96100;
}

#tab-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:25px;
    padding: 2rem 4rem;
    color:#493b25;
}

.info-container{
    width:100%;
}

.info-container h3{
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.info-container p{
    font-size: 1rem;
    font-weight: 300;
}

.info-list{
    width:50%;
}

.info-list li{
    display:flex;
}

.info-list li p:first-child{
    width: 30%;
}

.menu-list{
    height: 300px;
    overflow-y: scroll;
    margin-top:10px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:25px;
}

.menu-list li img{
    width:100%;
}

footer {
    width: 100%;
    background: #493b25;
    color:white;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    gap: 20px;
}

.footer-list li {
    text-align: center;
    padding: 10px 0;
    font-size: 0.7rem;
}

